@import "tailwindcss";
@plugin "@toolwind/corner-shape";

:root {
  --background: #fdf2f8; /* pink-50 */
  --foreground: #1e293b; /* slate-800 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}

/* Custom Utilities */
.animate-spin-slow {
  animation: spin 8s linear infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf2f8; /* pink-50 */
    --foreground: #1e293b; /* slate-800 */
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}